---
import ReactIcon from "../components/icons/ReactIcon.astro";
import ReduxIcon from "../components/icons/ReduxIcon.astro";
import TailwindcssIcon from "../components/icons/Tailwindcss.astro";
import BriefIcon from "./icons/BriefIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import FigmaIcon from "./icons/FigmaIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JavaScriptIcon from "./icons/JavaScriptIcon.astro";
import HtmlIcon from "./icons/HtmlIcon.astro";
import CssIcon from "./icons/CssIcon.astro";
import WebIcon from "./icons/WebIcon.astro";

const TAGS = {
    REACT: {
        name: "React",
        class: "bg-transparent text-white",
        icon: ReactIcon,
    },
    REDUX: {
        name: "Redux",
        class: "bg-transparent text-white",
        icon: ReduxIcon,
    },
    TAILWINDCSS: {
        name: "Tailwindcss",
        class: "bg-transparent text-white",
        icon: TailwindcssIcon,
    },
    FIGMA: {
        name: "Figma",
        class: "bg-transparent text-white",
        icon: FigmaIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-transparent text-white",
        icon: AstroIcon,
    },
    JAVASCRIPT: {
        name: "JavaScript",
        class: "bg-transparent text-white",
        icon: JavaScriptIcon,
    },
    HTML: {
        name: "Html",
        class: "bg-transparent text-white",
        icon: HtmlIcon,
    },
    CSS: {
        name: "Css",
        class: "bg-transparent text-white",
        icon: CssIcon,
    },
};

const PROJECTS = [
    {
        title: "ElarGas - Sitio web institucional",
        description:
            "Desarrollé el sitio web Elargas a partir de un diseño UI proporcionado, utilizando tecnologías avanzadas como Astro, React y Tailwind CSS. Mi enfoque se centró en la implementación eficiente de la interfaz de usuario, asegurando una experiencia web fluida y atractiva para los usuarios finales.",
        link: "https://stellular-palmier-24c11d.netlify.app",
        github: "https://github.com/elargas/elargas-web",
        image: "/elargas-1.png",
        tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWINDCSS],
    },
    {
        title: "Qatarbets - Sitio de apuestas",
        description:
            "En el proyecto final de SoyHenry, Qatarbets, lideré el diseño de la interfaz de usuario y de la base de datos. Formé parte del equipo de frontend, utilizando tecnologías como React, Redux Toolkits y Tailwind CSS para el desarrollo. Enfrenté el desafío principal de implementar filtros y ordenamientos mediante Redux Toolkit",
        link: "#",
        github: "https://github.com/nachoaar/qatarbets-frontend",
        image: "/qatarbetsAlpha.webp",
        tags: [TAGS.FIGMA, TAGS.REACT, TAGS.REDUX, TAGS.TAILWINDCSS],
    },
    {
        title: "BlackiJack - juego",
        description:
            "Este proyecto representa un retorno a las bases de la programación web, al desarrollar un juego de Blackjack utilizando únicamente HTML, JavaScript y CSS. La decisión de abstenerse de utilizar cualquier framework o biblioteca adicional fue un desafío consciente para profundizar en los fundamentos de la programación web y reforzar habilidades clave.",
        link: "https://blacki-jack.netlify.app/",
        github: "https://github.com/gastonfuentes/juego-blackjack-js",
        image: "/blackijack3.webp",
        tags: [TAGS.HTML, TAGS.CSS, TAGS.JAVASCRIPT],
    },
];
---

{
    PROJECTS.map((pro) => (
        <article class="my-10">
            <h3 class="text-2xl font-semibold my-1">{pro.title}</h3>
            <p class="text-pretty">{pro.description}</p>

            <section class="flex flex-col md:flex-row md:items-center md:justify-between pl-4 pt-4 md:pl-4  rounded-2xl my-2">
                <ul class="flex flex-wrap md:flex-col gap-2 my-2">
                    {pro.tags.map((tag) => (
                        <li
                            class={` flex gap-1 py-1 rounded-full px-3 text-sm items-center font-semibold ${tag.class}`}
                        >
                            <span>{<tag.icon />}</span>
                            {tag.name}
                        </li>
                    ))}
                </ul>

                <img
                    class=" h-auto max-w-full"
                    src={pro.image}
                    alt="captura del proyecto Qatarbets"
                />
            </section>

            <section class="flex flex-row bg-slate-600/35 gap-4 p-2 mt-3 items-center rounded-lg">
                <a
                    href={pro.github}
                    target="_blank"
                    class="flex gap-1 items-center"
                >
                    Repo <GitHubIcon />{" "}
                </a>

                {pro.link !== "#" && (
                    <a
                        href={pro.link}
                        target="_blank"
                        class="flex gap-1 items-center"
                    >
                        Demo <WebIcon />{" "}
                    </a>
                )}
            </section>
        </article>
    ))
}
