---
import ReactIcon from "../components/icons/ReactIcon.astro";
import ReduxIcon from "../components/icons/ReduxIcon.astro";
import TailwindcssIcon from "../components/icons/Tailwindcss.astro";
import BriefIcon from "./icons/BriefIcon.astro";
import GitHubIcon from "./icons/GitHubIcon.astro";
import FigmaIcon from "./icons/FigmaIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";

const TAGS = {
    REACT: {
        name: "React",
        class: "bg-[#23272f] text-[#149eca]",
        icon: ReactIcon,
    },
    REDUX: {
        name: "Redux",
        class: "bg-[#764abc] text-white",
        icon: ReduxIcon,
    },
    TAILWINDCSS: {
        name: "Tailwindcss",
        class: "bg-[#152e48] text-white",
        icon: TailwindcssIcon,
    },
    FIGMA: {
        name: "figma",
        class: "bg-[#2c2e37] text-white",
        icon: FigmaIcon,
    },
    ASTRO: {
        name: "Astro",
        class: "bg-white text-[#17191e]",
        icon: AstroIcon,
    },
};

const PROJECTS = [
    {
        title: "Qatarbets - Sitio de apuestas",
        description:
            "En el proyecto final de SoyHenry, Qatarbets, lideré el diseño de la interfaz de usuario y de la base de datos. Formé parte del equipo de frontend, utilizando tecnologías como React, Redux Toolkits y Tailwind CSS para el desarrollo. Enfrenté el desafío principal de implementar filtros y ordenamientos mediante Redux Toolkit",
        link: false,
        github: "https://github.com/nachoaar/qatarbets-frontend",
        image: "/qatarbetsAlpha.webp",
        tags: [TAGS.FIGMA, TAGS.REACT, TAGS.REDUX, TAGS.TAILWINDCSS],
    },
    {
        title: "ElarGas - Sitio web institucional",
        description:
            "Desarrollé el sitio web Elargas a partir de un diseño UI proporcionado, utilizando tecnologías avanzadas como Astro, React y Tailwind CSS. Mi enfoque se centró en la implementación eficiente de la interfaz de usuario, asegurando una experiencia web fluida y atractiva para los usuarios finales.",
        link: false,
        github: "https://github.com/nachoaar/qatarbets-frontend",
        image: "/qatarbetsAlpha.webp",
        tags: [TAGS.ASTRO, TAGS.REACT, TAGS.TAILWINDCSS],
    },
];
---

{
    PROJECTS.map((pro) => (
        <article class="my-10">
            <h3 class="text-2xl font-semibold my-1">{pro.title}</h3>
            <p class="text-md text-pretty">{pro.description}</p>

            <section class="flex flex-col md:flex-row md:items-center md:justify-between pl-4 pt-4 md:pl-8 bg-gradient-to-r from-purple-200 via-purple-400 to-purple-800 rounded-2xl my-2">
                <ul class="flex md:flex-col gap-2 my-2">
                    {pro.tags.map((tag) => (
                        <li
                            class={` flex gap-1 py-1 rounded-full px-3 text-sm items-center ${tag.class}`}
                        >
                            <span>{<tag.icon />}</span>
                            {tag.name}
                        </li>
                    ))}
                </ul>

                <img
                    class=" h-auto max-w-full"
                    src={pro.image}
                    alt="captura del proyecto Qatarbets"
                />
            </section>

            <section class="flex flex-col bg-slate-600/35 md:gap-2 p-2 mt-3">
                <a href={pro.github} target="_blank" class="flex gap-1">
                    Repo <GitHubIcon />{" "}
                </a>

                {pro.link && <h4>enlace web</h4>}
            </section>
        </article>
    ))
}
